/*
&>em {
                        font-style: normal;
                        padding: 0.25rem 0.5rem 0 0;
                        font-size: 0.813rem;
                        display: inline-block;
                        &>span {
                            // collab
                            font-size: 0.75rem;
                            &>span {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                    */