#comments {
    &>div {
        transform: translateY(80vh);
        transition: transform 0.5s ease;
        background: #fff;
        border-radius: 0.5em 0.5rem 0 0;
        height: auto;
        max-height: 80vh;
        bottom: 0;
        position: absolute;
        width: 100%;
        left: 0;
    }
    &.revealed {
        &>div {
            transform: translateY(0);
            transition: transform 0.5s ease;
            box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
        }
    }
    @media (min-width: 768px) {
        &>div {
            transform: translateY(0);
            transform: translateX(calc(100vw + 420px));
            height: 100%;
            max-height: none;
            border-radius: 0;
            width: 420px;
            left: auto;
            right: 0;
        }
    }
}