.timeline__header {
    &>.filters {
        margin-top: 0.25rem;
        justify-content: flex-start;
        &>span.fa-stack {
            display: none;
        }
        &>h3 {
            font-size: 0.938rem;
            margin-right: 0.75rem;
        }
        &>ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            &>li {
                margin-right: 0.75rem;
                font-size: 0.938rem;
                display: flex;
                align-items: center;
                /*&.filter {
                    &-checkbox {
                        background: var(--greyVeryLight);
                        border-radius: 0.5rem;
                    }
                    &-checkboxes {
                        padding: 0.375rem 0 0.375rem 0.625rem;
                        white-space: nowrap;
                        line-height: 0.938rem;
                        cursor: pointer;
                        background: var(--greyVeryLight);
                        border-radius: 0.5rem;
                        height: 31px;
                        display: flex;
                        align-items: center;
                        &:hover {
                            &>i {
                                background: var(--grey);
                            }
                        }
                        &>span {
                            background: var(--greyDark);
                            margin-left: 0.25rem;
                            padding: 0.25rem 0.375rem;
                            color: #fff;
                            font-size: 0.688rem;
                            line-height: 0.688rem;
                            border-radius: 0.25rem;
                        }
                        &>i {
                            margin-left: 0.625rem;
                            font-size: 0.813rem;
                            background: var(--greyLight);
                            padding: 0 0.625rem;
                            height: 31px;
                            line-height: 31px;
                            border-radius: 0 0.5rem 0.5rem 0;
                        }
                        &>.dropdown {
                            min-width: 302px;
                            cursor: initial;
                            &>ul {
                                display: flex;
                                flex-wrap: wrap;
                                &>li {
                                    min-width: 100%;
                                    &.filter-checkbox {
                                        min-width: 150px;
                                    }
                                    &>label {
                                        &:hover {
                                            background: none;
                                        }
                                    }
                                    &>a {
                                        margin-left: auto;
                                        width: 100px;
                                        background: var(--primary);
                                        text-align: center;
                                        border-radius: 0.5rem;
                                        &:hover {
                                            background: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &-images {
                        &>ul {
                            list-style: none;
                            padding: 0;
                            margin: 0 0 0 0.5rem;
                            display: flex;
                        }
                    }
                }*/
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}