@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/modern-normalize/modern-normalize.css";
@import "modal.scss";

/* global stuff... like buttons etc */

:root {
    /* link */
    --link: #006edb;
    --linkHover: #004b96;
    /* grey */
    --greyVeryLight: #f4f5f7;
    --greyLight: #ebebeb;
    --grey: #dbdbdb;
    --greyMedium: #a1a1a1;
    --greyDark: #6d6d6d;
    --greyVeryDark: #101010;
    /* success: green */
    --successLight: #d2ffe6;
    --success: #009944;
    --successDark: #007a37;
    /* danger: red */
    --dangerLight: #ffa7a7;
    --danger: #f01e1e;
    --dangerDark: #920707;
    /* premium: orange */
    --premiumLight: #ffe2de;
    --premium: #f0541e;
    --premiumDark: #ce4113;
    /* info: blue */
    --infoLight: #c5eefc;
    --info: #2a96b9;
    --infoDark: #1a7d9e;
    /* like */
    --like: #eb637e;
    /* backdrop */
    --faded: rgba(0, 0, 0, 0.35);
    --fadedDark: rgba(0, 0, 0, 0.75);
    /* timeline */
    --year: #004b96;
    --month: #006edb;
    --day: #3895D3;
    --time: #58CCED;
}

html {
    //scroll-behavior: smooth;
}

body {
    overflow-y: auto!important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
    color: var(--greyDark);
    font-size: 0.938rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &.backdrop-no-scroll,
    &.no-scroll,
    &.no-scrollbar {
        position: absolute;
        inset: 0;
        overflow: hidden;
        & .action {
            display: none;
        }
    }
    &.no-scrollbar {
        inset-inline-end: 17px;
        &>#topbar {
            width: calc(100% - 17px);
        }
    }
    &>main {
        padding: 1rem;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    &>footer {
        margin-top: auto;
    }
    @media (min-width: 768px) {
        font-size: 1rem;
        &>main {
            padding-top: 76px;
        }
    }
}


/* SCROLLBARS (chrome & edge) */

.scrollbar {
    &::-webkit-scrollbar-track {
        background-color: var(--greyLight);
    }
    &::-webkit-scrollbar {
        width: 18px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #7f7f7f;
        width: 10px;
        border-radius: 10px;
        border: solid 4px var(--greyLight);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--greyDark);
    }
}

:focus {
    outline: none !important;
}

sup {
    top: -0.25em;
}

.link {
    color: #fff!important;
    background: var(--link)!important;
    &:hover {
        background: var(--linkHover)!important;
    }
}

.link-outline {
    background: #fff!important;
    color: var(--link)!important;
    box-shadow: inset 0 0 0 2px var(--link);
    &:hover {
        background: var(--greyVeryLight)!important;
        box-shadow: inset 0 0 0 2px var(--linkHover);
    }
}

.colour-like {
    color: #fff!important;
    background: var(--like)!important;
    &>i.fa-solid {
        display: none;
    }
    &:hover {
        &>i.fa-regular {
            display: none;
        }
        &>i.fa-solid {
            display: block;
        }
    }
}

.colour-liked {
    color: var(--like)!important;
    background: #fff!important;
    border: 2px solid var(--like);
    &>i.fa-regular {
        display: none;
    }
    &:hover {
        &>i.fa-regular {
            display: block;
        }
        &>i.fa-solid {
            display: none;
        }
    }
}

.colour-save {
    color: #fff!important;
    background: var(--greyDark)!important;
    &>i.fa-solid {
        display: none;
    }
    &:hover {
        &>i.fa-regular {
            display: none;
        }
        &>i.fa-solid {
            display: block;
        }
    }
}

.colour-saved {
    color: var(--greyDark)!important;
    background: var(--greyVeryLight)!important;
    border: 2px solid var(--greyDark);
    &>i.fa-regular {
        display: none;
    }
    &:hover {
        &>i.fa-regular {
            display: block;
        }
        &>i.fa-solid {
            display: none;
        }
    }
}

.social {
    padding: 0;
    margin: 0;
    list-style: none;
    & a {
        &:hover {
            text-decoration: none;
        }
    }
    & i {
        color: #fff;
    }
    & span {
        color: var(--greyDark);
    }
    &-reddit i {
        background: #ff4500;
    }
    &-facebook i {
        background: #1877f2;
    }
    &-twitter i {
        background: #1da1f2;
    }
    &-whatsapp i {
        background: #25d366;
    }
    &-blogger i {
        background: #ff4500;
    }
    &-tumblr i {
        background: #35465d;
    }
    &-linkedin i {
        background: #0a66c2;
    }
    &-email i {
        background: #aab8c2;
    }
    &-more i {
        background: var(--greyDark);
    }
}

[data-popover] {
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            content: attr(data-popover);
            position: absolute;
            top: -0.25rem;
            left: 50%;
            background: var(--greyDark);
            color: #fff;
            padding: 0.25rem;
            font-size: 0.688rem;
            line-height: 1;
            border-radius: 0.25rem;
            white-space: nowrap;
            transform: translate(-50%, -100%);
        }
    }
    &[data-popover-position="bottom"] {
        &:hover {
            &::after {
                top: auto;
                bottom: -0.25rem;
                transform: translate(-50%, 100%);
            }
        }
    }
}

.dropdown {
    display: none;
    border-radius: 0.25rem;
    background: #fff;
    border: 1px solid #d3d3d3;
    min-width: 150px;
    z-index: 300;
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: translateY(100%);
    cursor: initial;
    &-toggle {
        position: relative;
        padding: 0.375rem 0.625rem;
        white-space: nowrap;
        font-size: 0.875rem;
        line-height: 0.875rem;
        cursor: pointer;
        background: var(--greyVeryLight);
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        height: 29px;
        display: flex;
        align-items: center;
        &:hover {
            &>i.fa-chevron-down {
                background: var(--greyDark);
                color: #fff;
            }
        }
        &-arrow {
            padding-right: 0!important;
            &>i.fa-chevron-down {
                margin-left: 0.625rem;
                margin-right: 0!important;
                font-size: 0.813rem!important;
                background: var(--greyLight);
                padding: 0 0.625rem;
                height: 29px;
                line-height: 29px;
                border-radius: 0 0.5rem 0.5rem 0;
            }
        }
    }
    /* dd mod for checkboxes */
    &-checkboxes {
        min-width: 302px;
        &>ul {
            display: flex;
            flex-wrap: wrap;
            &>li {
                min-width: 100%;
                &.filter__checkbox {
                    min-width: 150px;
                }
                &>label {
                    padding: 0.375rem 0.625rem;
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
    &[data-position-x='right'] {
        left: auto;
        right: 0;
    }
    &[data-position-y='top'] {
        transform: translateY(-100%);
        bottom: auto;
        top: -3px;
    }
    &[data-backdrop] {
        display: none!important;
    }
    &>ul {
        margin: 0;
        padding: 0.25rem 0;
        list-style: none;
        &>li {
            &>a {
                padding: 0.5rem 0.75rem 0.5rem 0.5rem;
                display: block;
                color: var(--greyDark);
                white-space: nowrap;
                &:hover {
                    background: var(--greyLight);
                    text-decoration: none;
                }
            }
            & i {
                margin-right: 0.375rem;
                width: 20px;
                text-align: center;
            }
        }
        &>span {
            border-top: 1px solid #d3d3d3;
            display: block;
            margin-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }
    @media (min-width: 768px) {
        &-toggle {
            font-size: 0.938rem;
            line-height: 0.938rem;
            height: 31px;
            &-arrow {
                &>i.fa-chevron-down {
                    height: 31px;
                    line-height: 31px;
                }
            }
        }
        &[data-backdrop='open'] {
            display: block!important;
        }
    }
    @media (min-width: 992px) {}
}

em.count {
    background: var(--greyDark);
    margin-left: 0.375rem;
    padding: 0.25rem 0.375rem;
    color: #fff;
    font-size: 0.688rem;
    line-height: 0.688rem;
    border-radius: 0.25rem;
    font-style: normal;
}

.backdrop {
    display: none;
    height: 100%;
    width: 100%;
    background-color: var(--faded);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    &>.dropdown {
        display: block!important;
        border: none;
        border-radius: 0.75rem;
        box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
        position: fixed;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
    }
    @media (min-width: 768px) {
        display: none!important;
    }
}

.dots {
    width: 77px;
    height: 13px;
    position: absolute;
    &>div {
        position: absolute;
        top: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: var(--link);
        -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
            left: 8px;
            -webkit-animation: dots1 0.6s infinite;
            animation: dots1 0.6s infinite;
        }
        &:nth-child(2) {
            left: 8px;
            -webkit-animation: dots2 0.6s infinite;
            animation: dots2 0.6s infinite;
        }
        &:nth-child(3) {
            left: 32px;
            -webkit-animation: dots2 0.6s infinite;
            animation: dots2 0.6s infinite;
        }
        &:nth-child(4) {
            left: 56px;
            -webkit-animation: dots3 0.6s infinite;
            animation: dots3 0.6s infinite;
        }
    }
}

@-webkit-keyframes dots1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes dots1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes dots3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes dots3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes dots2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

@keyframes dots2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

a {
    text-decoration: none;
    color: var(--link);
    &:hover {
        text-decoration: underline;
        color: var(--linkHover);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--greyVeryDark);
    line-height: 1.1;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

.btn {
    border-radius: 1rem;
    background: var(--link);
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    color: #fff!important;
    height: 2rem;
    line-height: 1;
    cursor: pointer;
    border: none;
    width: fit-content;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
        background: var(--linkHover);
        color: #fff;
    }
    &>i {
        margin-right: 0.375rem;
        font-size: 1.125rem;
    }
    &[disabled] {
        background: var(--greyDark);
        cursor: default;
        opacity: 0.5;
    }
    &-outline {
        background: #fff;
        color: var(--link)!important;
        box-shadow: inset 0 0 0 2px var(--link);
        &:hover {
            background: var(--greyLight);
        }
    }
    &-danger {
        background: var(--danger);
        &:hover {
            background: var(--dangerDark);
        }
    }
}

@media (min-width: 768px) {
    .split {
        display: flex;
        gap: 1.5rem;
        &>div {
            width: 50%;
        }
    }
}

#topbar {
    min-height: 52px;
    width: 100%;
    background: var(--greyVeryLight);
    z-index: 100;
    border-bottom: 1px solid var(--grey);
    box-shadow: rgb(0 0 0 / 10%) 0 0 2px 1px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    & label {
        &>span {
            cursor: pointer;
        }
    }
    & input[type=checkbox] {
        display: none;
    }
    &>.nav-menu {
        margin-right: 0.5rem;
        &>input[type=checkbox] {
            &:checked {
                &~.nav-menu-section {
                    width: 100%;
                    background-color: var(--fadedDark);
                    transition: background-color 0.5s ease;
                    &>nav {
                        transform: translateX(0);
                        transition: transform 0.5s ease;
                        box-shadow: rgb(0 0 0 / 100%) 0 50px 30px, rgb(0 0 0 / 50%) 1px 0 1px;
                        opacity: 1;
                    }
                }
            }
        }
        &>.nav-menu-section {
            width: 0;
            height: 100%;
            z-index: 100;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.5s ease, width 0.5s 0.5s;
            &>nav {
                transform: translateX(-360px);
                transition: transform 0.5s ease;
                width: calc(100% - 2rem);
                min-width: 280px;
                max-width: 360px;
                height: 100%;
                background: #fff;
                opacity: 0;
                &>ul {
                    margin: 0;
                    padding: 0.5rem 0;
                    list-style: none;
                }
            }
        }
    }
    &>a {
        background: #ddd;
        min-width: 102px;
        height: 36px;
        margin-right: 1rem;
    }
    &>.nav-search {
        margin-left: auto;
        &>input[type=checkbox] {
            &:checked {
                &~.nav-search-section {
                    display: flex;
                }
            }
        }
        &>.nav-search-section {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: var(--greyVeryLight);
            display: none;
            align-items: center;
            z-index: 200;
            padding: 0 1rem;
            margin: 0;
            &>div {
                display: flex;
                align-items: center;
                border-radius: 18px;
                padding: 0 0.75rem;
                height: 36px;
                border: 3px solid var(--greyDark);
                background: #fff;
                margin: 0 0 0 1rem;
                width: 100%;
                &:hover,
                &:focus-within {
                    border-color: var(--link);
                    &>button {
                        color: var(--link);
                    }
                }
                &>input,
                &>button {
                    border: none;
                    outline: none;
                    background: transparent;
                    padding: 0;
                    margin: 0;
                    line-height: 1.2;
                }
                &>input {
                    width: 100%;
                }
                &>button {
                    cursor: pointer;
                }
            }
        }
    }
    &>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        white-space: nowrap;
        &>li {
            margin-left: 0.5rem;
            &.nav-register,
            &.nav-notifications {
                display: none;
            }
            &>a {
                display: flex;
                align-items: center;
                color: var(--greyDark);
                line-height: 1.2;
                &:hover {
                    text-decoration: none;
                    color: var(--greyVeryDark);
                }
                & em {
                    display: none;
                    font-style: normal;
                }
            }
        }
    }
    @media (min-width: 576px) {
        &>.nav-search {
            margin-left: 0;
            width: 100%;
            & label {
                display: none;
            }
            &>.nav-search-section {
                position: relative;
                display: flex;
                z-index: 0;
                padding: 0;
                &>div {
                    max-width: 456px;
                }
            }
        }
        &>ul {
            margin: 0 0 0 auto;
        }
    }
    @media (min-width: 768px) {
        min-height: 60px;
        position: fixed;
        top: 0;
        &>.nav-menu {
            margin-right: 1rem;
        }
        &>a {
            min-width: 160px;
        }
        &>.nav-search {
            &>.nav-search-section {
                &>div {
                    margin: 0 auto;
                }
            }
        }
    }
    @media (min-width: 992px) {
        /*padding: 0 1.25rem;*/
        &>.nav-search {
            &>.nav-search-section {
                &>div {
                    margin: 0 0 0 auto;
                }
            }
        }
        &>ul {
            margin-left: 0;
            &>li {
                padding-left: 1rem;
                border-left: 1px solid #d3d3d3;
                height: 36px;
                display: flex;
                align-items: center;
                margin-left: 1rem;
                &.nav-register,
                &.nav-notifications {
                    display: flex;
                }
                &>a {
                    & em {
                        display: initial;
                        max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.reveal {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease, width 0.5s 0.5s, opacity 0.5s 0.5s;
    opacity: 0;
    z-index: 150;
    &ed {
        width: 100%;
        background-color: var(--faded);
        transition: background-color 0.5s ease;
        opacity: 1;
    }
    &__wrapper {
        overflow-y: auto;
        cursor: initial;
        display: flex;
        flex-direction: column;
    }
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background: #fff;
        border-bottom: 1px solid #d3d3d3;
        padding: 10.5px 1rem;
        z-index: 2;
    }
    &__close {
        cursor: pointer;
    }
    &__body {
        padding: 1rem;
        background: var(--greyVeryLight);
        height: 100%;
    }
    &__footer {
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        background: #fff;
        border-top: 1px solid #d3d3d3;
        padding: 10.5px 1rem;
        z-index: 2;
        margin-top: auto;
    }
    @media (min-width: 768px) {
        &__wrapper {
            /* SCROLLBARS (chrome & edge) */
            &::-webkit-scrollbar-track {
                background-color: #f4f5f7;
            }
            &::-webkit-scrollbar {
                width: 18px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #7f7f7f;
                width: 10px;
                border-radius: 10px;
                border: solid 4px #f4f5f7;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #6d6d6d;
            }
        }
        &__header {
            padding: 11.5px 1rem;
        }
        &__body {
            padding: 1rem;
        }
        &__footer {
            padding: 1rem;
        }
    }
    @media (min-width: 992px) {
        &__header {
            padding: 11.5px 1.25rem;
        }
        &__body {
            padding: 1.25rem;
        }
        &__footer {
            padding: 1.25rem;
        }
    }
}

.fa-stack {
    width: 2em;
    min-width: 2em;
    &>i {
        &.fa-solid.fa-circle {
            /* circle bg */
            color: #fff;
        }
        &.fa-regular.fa-circle {
            /* circle outline */
            color: var(--greyDark);
        }
        &:nth-child(n+2) {
            /* icon */
            color: var(--greyDark);
        }
    }
    &:hover {
        &>i {
            &.fa-solid.fa-circle {
                color: var(--link);
            }
            &.fa-regular.fa-circle {
                color: var(--link);
            }
            &:nth-child(n+2) {
                color: #fff;
            }
        }
    }
    &~em {
        margin-left: 0.438rem;
    }
    @media (min-width: 768px) {
        font-size: 1.125em;
    }
}

.action {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    max-width: 400px;
    transition: all 1s ease;
    z-index: 98;
    &.show {
        transform: translate(-50%, 0);
        top: 60px;
    }
    &.warning {
        &>div {
            background: var(--dangerLight);
        }
    }
    &.info {
        &>div {
            background: var(--infoLight);
        }
    }
    &>div {
        background: var(--successLight);
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        border: 1px solid var(--grey);
        margin: 0 1rem;
        display: flex;
        align-items: center;
        &>em {
            font-style: normal;
            margin-right: 1rem;
        }
        &>span {
            margin-left: auto;
        }
    }
    @media (min-width: 768px) {
        left: inherit;
        right: 1rem;
        transform: translate(0, -100%);
        &.show {
            transform: translate(0, 0);
            top: 76px;
        }
        &>div {
            padding: 0.5rem 1rem;
            margin: 0;
        }
    }
}