#gmap {
    height: 100%;
    background: #fff;
}

.gm-style iframe+div {
    border: none!important;
}

@media (min-width: 768px) {
    .timeline--mapmore {
        &>header {
            box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
        }
        & #map {
            position: absolute;
            z-index: 11;
            &>.splitter {
                display: none;
            }
            & .map-auto {
                display: none;
            }
            & .map-more {
                width: 150px!important;
                &>span {
                    display: block!important;
                    line-height: 40px;
                    &>i {
                        margin-right: 0.5rem;
                    }
                }
                & .fa-chevron-left {
                    display: none;
                }
            }
        }
    }
}

.timeline--mapfullscreen {
    & #map {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        height: 100%;
        width: 100%;
        &>.splitter {
            display: none;
        }
        &>figure {
            max-height: none!important;
            height: 100%!important;
            bottom: 0;
            transform: none!important;
            &>.map-overlay {
                &>.map-more,
                &>.map-auto {
                    display: none;
                }
                @media (max-width: 767px) {
                    &>span,
                    &>div>span {
                        background: #fff;
                        border-bottom: 1px solid var(--grey);
                        & i {
                            top: 0;
                        }
                    }
                    &>div {
                        &.map-options {
                            border-left: 1px solid var(--grey);
                            margin-right: 1rem;
                        }
                    }
                    &>.map-fullscreen {
                        border-left: 1px solid var(--grey);
                    }
                }
                &>.map-fullscreen {
                    & .fa-expand {
                        display: none;
                    }
                    & .fa-compress {
                        display: block!important;
                    }
                }
            }
            &>.resizer {
                display: none;
            }
        }
    }
}

#map {
    &>.splitter {
        display: none;
    }
    &>figure {
        margin: 0;
        height: 32vh;
        max-height: calc(100vh - 10rem);
        position: fixed;
        bottom: 6.75rem;
        left: 0;
        width: 100%;
        z-index: 30;
        transition: transform 0.5s ease;
        transform: translateY(calc(32vh + 6.75rem)); // 108px
        &>.loading {
            position: absolute;
            background: var(--greyMedium);
            width: 100%;
            height: 100%;
            z-index: 10;
            top: 36px;
            left: 0;
            /*border-left: 1px solid var(--grey);*/
            &>.dots {
                left: 50%;
                top: calc(50% - 13px);
                transform: translate(-50%, 50%);
                &>div {
                    background: white;
                }
            }
        }
        &>.map-overlay {
            display: block;
            position: absolute;
            z-index: 1;
            width: 100%;
            pointer-events: none;
            display: flex;
            min-height: 36px;
            &>span,
            &>div {
                top: 1px;
            }
            &>span,
            &>div>span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.75rem;
                line-height: 1;
                pointer-events: all;
                cursor: pointer;
                border-right: 1px solid var(--grey);
                & i {
                    font-size: 1rem;
                    position: relative;
                    top: 1px;
                }
                &.map-auto {
                    padding: 0 0.5rem;
                    min-width: 102px;
                    &>input {
                        display: none;
                    }
                    & em {
                        font-style: normal;
                        margin: 0;
                        &>em {
                            display: none;
                        }
                    }
                    & i {
                        font-size: 1.188rem;
                        top: 0;
                    }
                }
                &.map-map,
                &.map-satellite {
                    padding: 0 0.5rem;
                    position: relative;
                }
                &.map-close {
                    min-width: 2.5rem;
                }
                &.map-more {
                    display: none;
                }
                &.map-fullscreen {
                    min-width: 2.5rem;
                    border-right: none;
                    &>i {
                        &.fa-compress {
                            display: none;
                        }
                    }
                }
            }
            &>div {
                margin-left: auto;
                display: flex;
                &.map-options {
                    border-left: 1px solid var(--grey);
                }
                &.map-zoom {
                    display: none;
                }
            }
        }
        /*&>div {
            height: 100%;
        }*/
        &>.resizer {
            cursor: ns-resize;
            height: 36px;
            background: #ffff;
            text-align: center;
            border-radius: 0.5rem 0.5rem 0 0;
            box-shadow: rgb(0 0 0 / 0.05) 0 -2px 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid var(--grey);
            &>span {
                width: 2rem;
                height: 3px;
                border-radius: 2px;
                background: var(--grey);
            }
        }
    }
    @media (min-width: 768px) {
        transition: height 0.25s ease;
        display: flex;
        flex: 1;
        width: 100%;
        height: 100%;
        &>.splitter {
            display: block;
            cursor: ew-resize;
            width: 12px;
            background: #fff;
            text-align: center;
            box-shadow: 5px 0 0 rgba(0, 0, 0, .15);
            border-left: 1px solid #d3d3d3;
            z-index: 4;
            &>i {
                color: #7f7f7f;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &>figure {
            display: block;
            position: relative;
            top: 0;
            min-height: 100%;
            z-index: 0;
            transform: translateY(0) !important;
            &>.loading {
                top: 0;
                &>.dots {
                    top: 50%;
                }
            }
            &>.map-overlay {
                height: 100%;
                &>span,
                &>div {
                    top: 1rem;
                }
                &>span,
                &>div>span {
                    height: 40px;
                    border-radius: 0.25rem;
                    font-size: 0.938rem;
                    background: white;
                    position: absolute;
                    box-shadow: 0 2.5px 0 rgba(0, 0, 0, 0.15);
                    font-weight: 500;
                    border: none;
                    &:hover {
                        background: var(--greyVeryLight);
                    }
                    & i {
                        font-size: 1.25rem;
                    }
                    &.map-auto {
                        left: 72px;
                        padding: 0 1rem;
                        & em {
                            &>em {
                                display: inline-block;
                            }
                        }
                    }
                    &.map-map,
                    &.map-satellite {
                        padding: 0 1rem;
                    }
                    &.map-close {
                        display: none;
                    }
                    &.map-more {
                        display: flex;
                        left: 1rem;
                        width: 40px;
                        &>span {
                            display: none;
                        }
                    }
                    &.map-fullscreen {
                        right: 1rem;
                        width: 40px;
                        &>i {
                            &.fa-compress {
                                display: none;
                            }
                        }
                    }
                    &.map-in,
                    &.map-out {
                        position: relative;
                        width: 40px;
                    }
                    &.map-in {
                        border-radius: 0.25rem 0.25rem 0 0;
                        border-bottom: 1px solid var(--grey);
                    }
                    &.map-out {
                        border-radius: 0 0 0.25rem 0.25rem;
                    }
                }
                &>div {
                    position: absolute;
                    &.map-options {
                        border: none;
                        gap: 0.75rem;
                        top: 1rem;
                        right: 68px;
                    }
                    &.map-zoom {
                        top: unset;
                        bottom: 2rem;
                        right: 1rem;
                        flex-direction: column;
                        display: flex;
                    }
                }
            }
            &>.resizer {
                display: none!important;
            }
        }
    }
}