.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0.25rem;
    -webkit-box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    -o-box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    -ms-box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    text-align: left;
    max-height: 100%;
    overflow: hidden;
    &-scroll {
        padding-left: 0!important;
        padding-right: 0!important;
        &>.modal-body {
            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100vh - 152px);
        }
    }
    &-spinner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--faded);
        z-index: 999;
        max-width: none!important;
        &>div {
            &>div {
                background: #fff;
            }
        }
    }
    &-blocker {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 999;
        padding: 1rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: rgb(0, 0, 0);
        background-color: var(--faded);
        text-align: center;
        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.05em;
        }
        &.behind {
            background-color: transparent;
        }
    }
    /* close */
    &>a {
        position: absolute;
        top: 9px;
        right: 9px;
        display: block;
        width: 36px;
        height: 36px;
        & .fa-circle {
            color: var(--greyLight)!important;
        }
        &:hover .fa-circle {
            color: var(--link)!important;
        }
    }
    &-body {
        padding: 1rem;
    }
    &-header {
        border-bottom: 2px solid var(--greyMedium);
        padding: 1rem;
        /*margin-bottom: 1rem;*/
        &>h5 {
            font-size: 1.125rem;
        }
    }
    &-buttons {
        /*margin-top: 1rem;*/
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: end;
        border-top: 2px solid var(--greyMedium);
        background: #fff;
        &>* {
            margin-left: 2rem;
        }
    }
    &-sm {
        width: 100%;
        max-width: 480px;
    }
    &-md {
        width: 100%;
        max-width: 768px;
    }
    &-lg {
        width: 100%;
        max-width: 1024px;
    }
    &-xl {
        width: 100%;
        max-width: 1200px;
    }
    @media (max-width: 767px) {
        &-full {
            padding: 0;
            &>.modal {
                height: 100%;
                border-radius: 0;
                &>.modal-buttons {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
                &-scroll {
                    &>.modal-body {
                        height: calc(100vh - 120px);
                        /*padding-bottom: 66px;*/
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {}
    @media (min-width: 992px) {
        &-header {
            &>h5 {
                font-size: 1.25rem;
            }
        }
    }
    @media (min-width: 1200px) {}
}