.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    -o-box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    -ms-box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
    text-align: left;
    &-spinner {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width: 101px!important;
        height: 32px;
        background: var(--primary);
        border-radius: 1rem;
        padding: 9.5px 0.75rem;
        z-index: 999;
        &>div {
            &>div {
                background: #fff;
            }
        }
    }
    &-blocker {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 999;
        padding: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: rgb(0, 0, 0);
        background-color: var(--faded);
        text-align: center;
        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.05em;
        }
        &.behind {
            background-color: transparent;
        }
    }
    /* close */
    &>a {
        position: absolute;
        top: -18px;
        right: -18px;
        display: block;
        width: 36px;
        height: 36px;
        & .fa-circle {
            color: var(--greyLight)!important;
        }
        &:hover .fa-circle {
            color: var(--primary)!important;
        }
    }
    &-header {
        margin-bottom: 1rem;
        &>h5 {
            font-size: 1.25rem;
        }
    }
    &-buttons {
        margin-top: 1rem;
        padding: 1rem 1rem 0;
        display: flex;
        align-items: center;
        justify-content: end;
        border-top: 1px solid var(--greyLight);
        &>* {
            margin-left: 2rem;
        }
    }
    &-sm {
        width: 100%;
        max-width: 480px;
    }
    &-md {
        width: 100%;
        max-width: 768px;
    }
    &-lg {
        width: 100%;
        max-width: 1024px;
    }
    @media (min-width: 768px) {
        padding: 1rem;
    }
    @media (min-width: 992px) {
        padding: 1.25rem;
    }
    @media (min-width: 1200px) {}
}