.test {
    margin: 1rem;
    &>h2 {
        margin-bottom: 1rem;
    }
    &>form {
        & label {
            display: block;
            margin: 0.5rem 0;
        }
        &>div {
            margin-bottom: 1.5rem;
            &.hidden {
                border: 1px solid #ccc;
                padding: 1rem;
                background: ghostwhite;
            }
            &.date_wrapper {
                & span[data-period] {
                    cursor: pointer;
                    background: lightblue;
                    padding: 0.125rem 0.25rem;
                    display: inline-block;
                }
            }
            &>.date {
                & span[data-period] {
                    &.add {
                        display: none;
                    }
                }
                & div {
                    &.year,
                    &.month,
                    &.day,
                    &.time {
                        margin-top: 1.5rem;
                        display: none;
                    }
                    &.date_active {
                        display: block;
                        & span[data-period] {
                            &.add {
                                display: inline-block;
                                margin-top: 0.5rem;
                            }
                            &.remove {
                                display: inline-block;
                                background: red;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            &>h3 {
                margin-bottom: 1rem;
            }
            &>div {
                margin-bottom: 1rem;
            }
        }
        &>hr {
            margin-bottom: 1.5rem;
        }
    }
}