/* the timeline design */

.timeline {
    $map: #{&}--map;
    &__header {
        background: #fff;
        position: sticky;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        box-shadow: rgb(0 0 0 / 5%) 0 0 2px 3px;
        z-index: 40;
        &>div {
            display: flex;
            flex-direction: column;
            position: relative;
            &>div {
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                &>h1 {
                    font-size: 1.25rem;
                    padding: 0.75rem 0 0 1rem;
                    line-height: 1.1;
                }
                &>em {
                    font-style: normal;
                    padding: 0.125rem 1rem 0;
                    font-size: 0.875rem;
                }
                &>span {
                    margin-left: auto;
                    display: none;
                }
            }
        }
        & .header__options {
            list-style: none;
            padding: 0.5rem 0.5rem 0.75rem 1rem;
            margin: 0;
            display: flex;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::before,
            &::after {
                content: "";
                width: 1rem;
                height: 30px;
                position: absolute;
                bottom: 0.75rem;
                z-index: 2;
            }
            &::before {
                left: 0;
                background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 1));
            }
            &::after {
                right: 0;
                background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 1));
            }
            &::-webkit-scrollbar {
                display: none;
            }
            &>li {
                padding: 0.375rem 0.625rem;
                white-space: nowrap;
                font-size: 0.875rem;
                line-height: 0.875rem;
                cursor: pointer;
                background: var(--greyVeryLight);
                border-radius: 0.5rem;
                margin-right: 0.5rem;
                height: 29px;
                display: flex;
                align-items: center;
                &:hover {
                    background: var(--grey);
                }
                &[data-popover] {
                    &:hover {
                        &::after {
                            content: none;
                        }
                    }
                }
                &>i {
                    margin-right: 0.375rem;
                    font-size: 0.938rem;
                }
                &>ul {
                    display: none;
                }
            }
        }
    }
    &__body {
        &>article {
            /*padding: 0.5rem;*/
            background: #f4f5f7;
            min-width: 100%;
            max-width: 100%;
        }
        #{$map} & {
            &>article {
                padding-bottom: calc(32vh + 46px);
            }
            &>#map {
                &>.splitter {
                    display: none;
                }
                &>figure {
                    margin: 0;
                    height: 32vh;
                    max-height: calc(100% - 96px);
                    position: fixed;
                    bottom: 2.5rem;
                    left: 0;
                    width: 100%;
                    z-index: 50;
                    transition: transform 0.5s ease;
                    &>div {
                        height: 100%;
                    }
                    &.fullscreen {
                        height: 100%!important;
                        max-height: none;
                        transition: height 0.5s ease;
                        z-index: 200;
                        &>.resizer {
                            &>div {
                                &>i {
                                    transition: transform 0.5s ease;
                                    z-index: 1;
                                    position: relative;
                                    transform: translateY(52px);
                                    &.map-expand {
                                        display: none;
                                    }
                                    &.map-compress {
                                        display: inline-block;
                                        margin-left: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                    &>.map-open {
                        position: absolute;
                        top: -78px;
                        left: 50%;
                        transform: translate(-50%, 100px);
                        cursor: pointer;
                        z-index: -1;
                        transition: transform 0.5s ease;
                        box-shadow: rgb(0 0 0 / 25%) 0 0 8px;
                        border-radius: 100%;
                        &>i.fa-solid.fa-circle {
                            color: #fff;
                        }
                        &>i.fa-map-marker-alt {
                            color: var(--primary);
                        }
                    }
                    &>.resizer {
                        cursor: ns-resize;
                        height: 2.5rem;
                        background: #ffff;
                        text-align: center;
                        border-radius: 0.5rem 0.5rem 0 0;
                        box-shadow: rgb(0 0 0 / 20%) 0 -1px 4px;
                        border-bottom: 1px solid #d3d3d3;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 1rem;
                        &>div {
                            min-width: 75px;
                            &>i {
                                font-size: 18px;
                                height: 30px;
                                width: 30px;
                                line-height: 30px;
                                text-align: center;
                                cursor: pointer;
                                background: #fff;
                                border-radius: 100%;
                                &.map-expand {
                                    margin-left: 0.5rem
                                }
                                &.map-compress {
                                    display: none;
                                }
                            }
                            &:first-child {
                                text-align: left;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        &>span {
                            height: 100%;
                            width: 100%;
                            &>div {
                                width: 38px;
                                height: 3px;
                                border-radius: 2px;
                                background: var(--grey);
                                margin: 18.5px auto;
                            }
                        }
                    }
                }
            }
        }
        &>#comments {
            &>div {
                transform: translateY(80vh);
                transition: transform 0.5s ease;
                background: #fff;
                border-radius: 0.5em 0.5rem 0 0;
                height: auto;
                max-height: 80vh;
                bottom: 0;
                position: absolute;
                width: 100%;
                left: 0;
            }
            &.revealed {
                &>div {
                    transform: translateY(0);
                    transition: transform 0.5s ease;
                    box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
                }
            }
        }
        &>#filters {
            &>div {
                transform: translateY(-80vh);
                transition: transform 0.5s ease;
                background: #fff;
                border-radius: 0 0 0.5em 0.5rem;
                height: auto;
                max-height: 80vh;
                top: 0;
                position: absolute;
                width: 100%;
                left: 0;
            }
            &.revealed {
                &>div {
                    transform: translateY(0);
                    transition: transform 0.5s ease;
                    box-shadow: rgb(0 0 0 / 35%) 0 -1px 4px;
                }
            }
        }
    }
    @media (min-width: 576px) {
        &__header {
            &>div {
                &>div {
                    &>h1 {
                        font-size: 1.313rem;
                    }
                }
            }
            /*& .header__options {
                &>li {
                    &:nth-last-child(2) {
                        border-right: none;
                    }
                }
            }*/
        }
    }
    @media (min-width: 768px) {
        /*height: calc(100vh - 60px);*/
        display: flex;
        flex-direction: column;
        width: 100%;
        &__header {
            padding: 0.5rem 1rem 1rem;
            box-shadow: none;
            &>div {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                &>div {
                    display: block;
                    margin-top: auto;
                    &>h1 {
                        padding: 0.5rem 1rem 0 0;
                        font-size: 1.438rem;
                        line-height: 1;
                    }
                    &>em {
                        padding: 0;
                        font-size: 0.813rem;
                        line-height: 1;
                    }
                }
            }
            & .header__options {
                overflow-x: initial;
                padding: 0.5rem 0 0;
                &::before,
                &::after {
                    content: none;
                }
                &>li {
                    font-size: 0.938rem;
                    /*line-height: 0.938rem;*/
                    height: 31px;
                    &[data-popover] {
                        &:hover {
                            &::after {
                                content: attr(data-popover);
                            }
                        }
                    }
                    &>i {
                        margin-right: 0;
                    }
                    &>span {
                        display: none;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__body {
            #{$map} & {
                display: flex;
                /*overflow-y: hidden;
                height: 100%;*/
                &>article {
                    width: 50%;
                    min-width: 50%;
                    max-width: calc(100% - 100px);
                    /*overflow-y: auto;
                    scroll-behavior: smooth;*/
                    z-index: 9;
                    /* SCROLLBARS (chrome & edge)
                    &::-webkit-scrollbar-track {
                        background-color: #f4f5f7;
                    }
                    &::-webkit-scrollbar {
                        width: 18px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #7f7f7f;
                        width: 10px;
                        border-radius: 10px;
                        border: solid 4px #f4f5f7;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #6d6d6d;
                    } */
                }
                &>#map {
                    transition: height 0.25s ease;
                    display: flex;
                    flex: 1;
                    position: sticky;
                    top: 0;
                    &>.splitter {
                        display: block;
                        cursor: ew-resize;
                        width: 12px;
                        background: #fff;
                        text-align: center;
                        box-shadow: rgb(0 0 0 / 20%) 0 50px 30px, rgb(0 0 0 / 15%) 1px 0 1px;
                        border-left: 1px solid #d3d3d3;
                        z-index: 4;
                        &>i {
                            color: #7f7f7f;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    &>figure {
                        display: block;
                        position: relative;
                        top: 0;
                        min-height: 100%;
                        z-index: 0;
                        transform: translateY(0) !important;
                        &>.map-open,
                        &>.resizer {
                            display: none!important;
                        }
                    }
                }
            }
            &>article {
                /*padding: 1rem!important;*/
                z-index: 5;
            }
            &>#comments {
                &>div {
                    transform: translateY(0);
                    transform: translateX(calc(100vw + 420px));
                    height: 100%;
                    max-height: none;
                    border-radius: 0;
                    width: 420px;
                    left: auto;
                    right: 0;
                }
            }
            &>#filters {
                &>div {
                    transform: translateY(0);
                    transform: translateX(calc(100vw + 420px));
                    height: 100%;
                    max-height: none;
                    border-radius: 0;
                    width: 420px;
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    @media (min-width: 992px) {
        &__header {
            padding: 0.5rem 1.25rem 1rem;
            &>div {
                &>div {
                    &>h1 {
                        font-size: 1.5rem;
                    }
                    &>em {
                        font-size: 0.918rem;
                    }
                }
            }
            & .header__options {
                &>li {
                    &[data-popover] {
                        &:hover {
                            &::after {
                                content: none;
                            }
                        }
                    }
                    &>i {
                        margin-right: 0.375rem;
                    }
                    &>span {
                        display: inline-block;
                    }
                }
            }
        }
        &__body {
            position: relative;
            #{$map} & {
                &>article {
                    /*width: 560px;*/
                    min-width: 420px;
                }
            }
            &>article {
                /*padding: 1.25rem!important;*/
            }
        }
    }
    @media (min-width: 1200px) {
        &__header {
            & .header__options {
                &-share {
                    background: none!important;
                    &>i {
                        display: none;
                    }
                    &>ul {
                        display: flex!important;
                        margin: 0 0 0 0.5rem;
                        &>li {
                            margin-right: 0.25rem;
                            &:nth-child(1n+5) {
                                display: none;
                            }
                            &:last-child {
                                margin-right: 0;
                                display: block;
                            }
                            &>a {
                                transition: transform 0.25s ease;
                                display: block;
                                &:hover {
                                    transform: translateY(-0.25rem);
                                }
                                &>i {
                                    width: 31px;
                                    height: 31px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 19px;
                                    margin-right: 0;
                                    border-radius: 100%;
                                }
                                &>span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__body {
            #{$map} & {
                &>article {
                    /*width: 580px;*/
                }
            }
        }
    }
    @media (min-width: 1400px) {
        &__body {
            #{$map} & {
                &>article {
                    width: 700px;
                }
            }
        }
    }
}

.events {
    $sm: #{&}--sm;
    $md: #{&}--md;
    $lg: #{&}--lg;
    &-time {
        position: sticky;
        top: 100px;
        left: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(244, 245, 247) 100%);
        &>div {
            display: flex;
            margin-top: 1rem;
            width: calc(100% - 2rem);
            color: #fff;
            &>div {
                background: var(--greyDark);
                display: flex;
                height: 2.5rem;
                align-items: center;
                justify-content: center;
                padding: 0 0.5rem;
                width: 100%;
                &>i {
                    font-size: 1.375rem;
                    position: relative;
                    top: -1px;
                    margin-right: 0.5rem;
                }
                &>span {
                    font-size: 0.844rem;
                    &>span {
                        &>em {
                            font-style: normal;
                            &>span {
                                display: none;
                            }
                        }
                    }
                }
            }
            &>i {
                background: #505050;
                padding: 0 0.5rem;
                font-size: 1.125rem;
                cursor: pointer;
                height: 2.5rem;
                line-height: 2.5rem;
                width: 2.5rem;
                text-align: center;
                &.events-up {
                    border-radius: 0.25rem 0 0 0.25rem;
                    color: #9b9b9b;
                }
                &.events-down {
                    margin-left: auto;
                    border-radius: 0 0.25rem 0.25rem 0;
                }
            }
        }
    }
    &-wrapper {
        #{$sm} & {
            padding: 1.5rem 1rem 1rem;
        }
        padding: 1.5rem 0 1rem;
        & section {
            background: linear-gradient(#aaa, #aaa) no-repeat 50% 0/1px 100%;
            margin-bottom: 2rem;
            &>h2 {
                display: none;
                &.event-title {
                    display: flex;
                }
            }
            &.none {
                margin-bottom: 3rem;
                & .event::before,
                & .event::after {
                    content: none;
                }
            }
            &.year {
                /*padding-left: 1rem;*/
                margin-bottom: 3rem;
                &>h2 {
                    &>.none {
                        background: var(--year);
                    }
                }
                & .event {
                    &::before {
                        background: var(--year);
                    }
                    &::after {
                        background: var(--year);
                    }
                }
            }
            &.month {
                /*padding-left: 1rem;*/
                /*margin-bottom: 3rem;*/
                &>h2 {
                    &>.none {
                        background: var(--month);
                    }
                }
                & .event {
                    &::before {
                        background: var(--month);
                    }
                    &::after {
                        background: var(--month);
                    }
                }
            }
            &.day {
                /*padding-left: 1rem;*/
                /*margin-bottom: 2rem;*/
                &>h2 {
                    &>.none {
                        background: var(--day);
                    }
                }
                & .event {
                    &::before {
                        background: var(--day);
                    }
                    &::after {
                        background: var(--day);
                    }
                }
            }
            &.time {
                /*margin-bottom: 1rem;*/
                & .event {
                    &::before {
                        background: var(--time);
                    }
                    &::after {
                        background: var(--time);
                    }
                }
            }
        }
        & h2 {
            font-size: 0.938rem;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            line-height: 1.5rem;
            height: 1.5rem;
            position: relative;
            z-index: 1;
            margin: 0 auto 1rem;
            &>em {
                position: absolute;
            }
            &>span {
                color: #fff;
                padding: 0 0.5rem;
                &:first-child {
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                }
                &:last-child {
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                }
                &.none {
                    background: #333;
                }
                &.year {
                    background: var(--year);
                }
                &.month {
                    background: var(--month);
                }
                &.day {
                    background: var(--day);
                }
                &.time {
                    background: var(--time);
                }
            }
        }
        #{$sm} & {
            & h2 {
                font-size: 1rem;
                line-height: 1.75rem;
                height: 1.75rem;
                &>span {
                    padding: 0 0.75rem;
                }
            }
            & .event {
                border-radius: 0.5rem;
                border: 1px solid var(--greyLight);
                &-header {
                    &>ul {
                        &>li {
                            font-size: 0.688rem;
                            line-height: 1rem;
                            padding: 0.25rem 0.375rem 0.125rem;
                            margin: 0 0.375rem 0.375rem 0;
                        }
                    }
                    &>div {
                        &>div {
                            &>[itemprop="name"] {
                                margin: 0.125rem 0.75rem 0 0;
                                font-size: 1.188rem;
                            }
                            &>[itemprop="location"] {
                                margin-top: 0.375rem;
                                font-size: 0.938rem;
                            }
                            &>span {
                                margin-top: 0.375rem;
                                font-size: 0.938rem;
                            }
                        }
                        &>img {
                            min-width: 100px;
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                &-resources {
                    &>li {
                        font-size: 0.938rem;
                        &>span {
                            display: inline-block;
                        }
                    }
                }
                &-options {
                    &>li {
                        font-size: 0.938rem;
                        &>span {
                            &>span {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        #{$md} & {
            & .event {
                &-header {
                    &>div {
                        &>div {
                            &>[itemprop="name"] {
                                margin: 0.125rem 1rem 0 0;
                                font-size: 1.313rem;
                                line-height: 1.5rem;
                            }
                            &>span {
                                margin-top: 0.5rem;
                            }
                        }
                        &>img {
                            min-width: 120px;
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        &-time {
            &>div {
                &>div {
                    &>span {
                        font-size: 0.875rem;
                        &>span {
                            &>em {
                                &>span {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        &-time {
            &>div {
                &>span {
                    font-size: 0.938rem;
                }
            }
        }
    }
}

.event {
    $open: #{&}--open;
    border-top: 1px solid var(--greyLight);
    border-bottom: 1px solid var(--greyLight);
    display: flex;
    align-items: center;
    background: #fff;
    position: relative;
    z-index: 1;
    /* shared timeline with starting event */
    &-start {
        & .event {
            background: rgb(255, 252, 242);
            border-color: var(--greyDark)!important;
        }
    }
    &::after {
        content: "";
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background: #aaa;
        position: absolute;
        left: 50%;
        top: -4.5px;
        transform: translateX(-50%);
    }
    /* event wrapper */
    &-item {
        position: relative;
    }
    /* event styling */
    &-wrapper {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    &-header {
        #{$open} & {
            margin-top: -48px;
        }
        width: 100%;
        padding: 0 1rem 1rem;
        &>ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            &>li {
                white-space: nowrap;
                text-transform: uppercase;
                font-size: 0.625rem;
                line-height: 1rem;
                padding: 0.063rem 0.25rem 0;
                border-radius: 0.25rem;
                background: var(--success);
                color: #fff;
                margin: 0 0.25rem 0.25rem 0;
                cursor: pointer;
            }
        }
        &>div {
            display: flex;
            #{$open} & {
                flex-direction: column;
                &>div {
                    &>span {
                        display: none;
                    }
                }
                &>img {
                    width: auto!important;
                    height: 180px!important;
                    margin: 1rem 0 0;
                }
            }
            &>div {
                &>[itemprop="name"] {
                    margin: 0.125rem 0.75rem 0 0;
                    font-size: 1.094rem;
                }
                &>[itemprop="location"] {
                    margin-top: 0.375rem;
                    font-size: 0.875rem;
                    cursor: pointer;
                    &>p {
                        margin: 0;
                        &>i {
                            margin-right: 0.375rem;
                        }
                    }
                    &>a {
                        display: none;
                    }
                }
                &>span {
                    display: inline-block;
                    margin-top: 0.375rem;
                    color: var(--primary);
                    font-size: 0.875rem;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                    &>i {
                        font-size: 0.563rem;
                        margin-left: 0.25rem;
                        position: relative;
                        top: -1px;
                    }
                }
            }
            &>img {
                border-radius: 3px;
                display: block;
                min-width: 88px;
                width: 88px;
                height: 88px;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                margin: 0 0 0 auto;
            }
        }
    }
    &-body {
        display: none;
        #{$open} & {
            display: block;
        }
        padding: 0 1rem;
        & p {
            margin: 0 0 0.5rem;
        }
    }
    &-footer {
        width: 100%;
        display: flex;
        padding: 0.5rem 1rem;
        border-top: 1px solid var(--greyVeryLight);
    }
    &-resources {
        #{$open} & {
            display: none;
        }
        margin: 0.25rem 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        &>li {
            white-space: nowrap;
            background: #fff;
            padding: 0.25rem 0.375rem;
            border-radius: 0.25rem;
            margin: 0 0.5rem 0.25rem 0;
            font-size: 0.875rem;
            border: 1px solid var(--grey);
            color: var(--primary);
            cursor: pointer;
            line-height: 1.25rem;
            &>span {
                display: none;
            }
            &>i {
                margin-right: 0.375rem;
            }
        }
    }
    &-options {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;
        &>li {
            margin-left: 0.375rem;
            position: relative;
            padding: 0.375rem;
            white-space: nowrap;
            font-size: 0.875rem;
            cursor: pointer;
            background: none;
            border-radius: 0.5rem;
            margin-right: 0;
            height: 29px;
            display: flex;
            align-items: center;
        }
    }
    &-comments {
        &>i {
            position: relative;
            top: -1px;
        }
        &>span {
            margin-left: 0.25rem;
            &>span {
                display: none;
            }
        }
    }
    &-more {
        margin: 0;
    }
    &-close {
        display: none;
        cursor: pointer;
        position: sticky;
        margin: 0 1rem 1rem auto;
        font-size: 1rem;
        #{$open} & {
            display: block;
        }
        &>i {
            &.fa-solid.fa-circle {
                color: var(--greyVeryDark);
            }
            &.fa-solid.fa-xmark {
                color: #fff;
            }
        }
    }
}

.filter {
    &__wrapper {
        & input[type=checkbox] {
            display: none;
        }
    }
    &__group {
        list-style: none;
        padding: 0;
        margin: 0;
        &>li {
            border-top: 1px solid #ddd;
            padding-top: 1rem;
            margin-top: 1rem;
            &:first-child {
                border-top: none;
                padding: 0;
                margin: 0;
            }
            &>h3 {
                margin-top: 0.25rem;
                font-size: 1rem;
            }
            &>ul {
                list-style: none;
                padding: 0;
                margin: 0.5rem 0 0;
                display: flex;
                flex-wrap: wrap;
                &>li {
                    margin-right: 2rem;
                }
            }
        }
    }
    &__checkbox {
        &>label {
            white-space: nowrap;
            line-height: 0.938rem;
            /*height: 31px;*/
            display: flex;
            padding: 0.375rem 0;
            cursor: pointer;
            align-items: center;
            &>span {
                margin-right: 0.375rem;
                width: 20px;
                height: 20px;
                line-height: 20px;
                &>i {
                    font-size: 1.313rem;
                    &:hover {
                        color: var(--primary);
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
            &>span:not(.fa-stack),
            &>img {
                margin-right: 0.375rem;
                border-radius: 50%;
                display: block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--primary);
                color: #fff;
                font-size: 0.813rem;
            }
            &:hover {
                &>span {
                    &>i {
                        color: var(--primary);
                    }
                }
            }
        }
        &>input[type=checkbox] {
            &:checked {
                &~label {
                    &>span {
                        &>i {
                            &:last-child {
                                display: block;
                                color: var(--primary);
                            }
                        }
                    }
                }
            }
        }
    }
    &__clear {
        text-decoration: underline;
        cursor: pointer;
    }
    /*&-image {
        &>label {
            margin-right: 0.125rem;
            border-radius: 50%;
            width: 37px;
            height: 37px;
            border: 2px solid #fff;
            background: #fff;
            cursor: pointer;
            transition: transform 0.25s ease;
            display: block;
            &:hover {
                transform: translateY(-0.25rem);
            }
            &>span,
            &>img {
                border-radius: 50%;
                display: block;
                width: 33px;
                height: 33px;
                line-height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.875rem;
                background: var(--greyLight);
                color: var(--greyDark);
            }
            &[for] {
                &>span {
                    background: var(--primary);
                    color: #fff;
                }
            }
        }
        &>input[type=checkbox] {
            &:checked {
                &~label {
                    border-color: var(--primary);
                    &>span,
                    &>img {
                        border: 2px solid #fff;
                    }
                }
            }
        }
        &:last-child {
            &>label {
                margin-right: 0;
            }
        }
    }*/
}