.comments {
    &>.loading {
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &>.dots {
            position: sticky;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 50%);
        }
    }
}

.comment {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2.5px 0 rgba(0, 0, 0, 0.15);
    font-size: 0.813rem;
    margin-top: 1rem;
    &>header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.75rem;
        border-bottom: 1px solid var(--greyLight);
        &>div {
            display: flex;
            align-items: center;
            &>div {
                margin-right: 0.5rem;
                display: flex;
                flex-direction: column;
                &>span {
                    font-size: 1rem;
                    &>.fa-circle {
                        color: var(--greyMedium)!important;
                    }
                    &>.fa-user {
                        color: #fff;
                    }
                }
                &>a {
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    &>span {
                        text-transform: uppercase;
                        font-size: 0.625rem;
                        margin-left: 0.375rem;
                        background: var(--greyLight);
                        padding: 0.125rem 0.25rem;
                        border-radius: 0.25rem;
                        color: var(--greyDark);
                        position: relative;
                        top: -1px;
                    }
                }
                &>em {
                    font-style: normal;
                    font-size: 0.688rem;
                    cursor: help;
                }
            }
        }
        &>span {
            background: none;
        }
    }
    &>div {
        padding: 0.75rem;
        &>p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &>footer {
        padding: 0.5rem 0.75rem;
        border-top: 1px solid var(--greyLight);
        display: flex;
        justify-content: space-between;
        &>div {
            display: flex;
            align-items: center;
            cursor: pointer;
            min-width: 50px;
            &.comment-like {
                &>i.fa-solid.fa-thumbs-up,
                &>i.fa-spin {
                    display: none;
                }
            }
            &.comment-liked {
                &>i.fa-solid.fa-thumbs-up {
                    animation-iteration-count: 1;
                    color: var(--link);
                }
                &>i.fa-regular.fa-thumbs-up,
                &>i.fa-spin {
                    display: none;
                }
            }
            &.loading {
                &>i {
                    display: none;
                    &.fa-spin {
                        display: inline-block;
                        font-size: 0.75rem;
                        margin: 0.125rem 0;
                        top: -1px;
                        left: 2px;
                    }
                }
            }
            &>i {
                font-size: 1rem;
                position: relative;
                top: -2px;
            }
            &>span {
                font-size: 0.688rem;
                line-height: 1;
                margin-left: auto;
                min-width: 28px;
                display: block;
            }
            &:hover {
                &>i {
                    color: var(--link);
                }
            }
        }
        &>a {}
    }
}

.replies {
    padding-top: 1rem;
    margin: 0 0 2rem 2rem;
    &:last-of-type {
        margin-bottom: 0;
    }
    &>.comment {
        margin-top: 0;
    }
}